{% extends "base.html.twig" %}
{% block title %}
    Add Article
{% endblock title %}

{% block body %}
    <div class="col-6 mt-3 text-white text-bold">
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">Add Article</button>
        {{form_end(form)}}
    </div>
{% endblock body %}
