<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="">CarBlog</a>

    <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('add-article')}}">Add Article</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{path('search')}}">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <p class="btn btn-warning my-2 my-sm-0 ml-1">Hi {{user.surname}}!</p>
        {% else %}
        <a class="nav-link" href="{{path('create_account')}}"><i class="fas fa-user-plus"></i></a>
        <a class="btn btn-outline-success my-2 my-sm-0 ml-1" href="{{path('login')}}"><i class="fas fa-user"></i><span
                class="sr-only">(current)</span></a>
        {% endif %}

    </div>
</nav>
