{% extends "base.html.twig" %}
{% block title %}
{{post.title}}
{% endblock title %}
{% block body %}
<div class="card mt-5 ml-3 mr-3 content-center mx-auto w-75">
  {% include "home/carrousel.html.twig" %}
  <div class="card-body articleBG">
    <h3 class="card-title">{{ post.title }}</h3>
    <p class="card-text justify-center">{{ post.Content}}</p>
    <p class="card-text"><small class="text-muted">Posted:{{post.datePost|time_diff}}</small></p>
    <p class="card-text"><small class="text-muted">By:{{post.author}}</small></p>
    <p><a href="{{path('home')}}" class="btn btn-primary">Return</a>
  </div>
</div>
<div class="row">
  <div class="col-4 justyfi-content-center">
    <h1 class="text-center bg-dark text-white">Comments</h1>
  </div>
</div>

{% for row in comments %}
<div class="row justify-content-center mt-3 mx-auto w-75">
  <div class="col-12 articleBG text-center ">
    <div class="row">
      <div class="col-10 mt-3">
        <p><label for="">{{row.comments}}</label></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <p><small class="text-muted">Commented by: {{row.user}} {{row.date|time_diff}}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
<div class="row justify-content-center mt-3">
  <div class="col-6 ml-3 articleBG">
    {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn btn-dark">Add Comment</button>
    {{form_end(form)}}
  </div>
</div>
{% else %}
<div class="row justify-content-center mt-3">
  <div class="col-6 ml-3 articleBG text-center">
    <p>To Leave a Comment please login!!! </p><a href="{{path('login')}}" class="btn btn-primary mb-1">Login</a>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-12">
    <a href="#" id="up">
  <p class="text-right mr-2 text-primary"><i class="fas fa-arrow-circle-up fa-4x"></i></p>
  </a></div>
</div>



{% endblock body %}