{% extends "base.html.twig" %}
{% block title %}
Posts
{% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-3 mt-2 mx-auto ">
            <a href="{{path('show-post', {id:post.id})}}" style="text-decoration:none;">
                <div class="card text-white bg-secondary ml-1" style="width: 18rem;">
                    <img src="{{ post.picture1 }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ post.title }}</h5>
                        <p class="card-text text-white">
                            {{ post.Content|length > 50 ? post.Content|slice(0, 50) ~ '...' : post.Content  }}
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-white bg-secondary">Posted the:
                                {{ post.datePost|time_diff }}</li>
                            <li class="list-group-item text-white bg-secondary">Added By: {{ post.author }}</li>
                            <li class="list-group-item text-white bg-secondary">
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{path('edit-post', {id:post.id})}}"><i class="fas fa-edit fa-3 mr-3"></i></a>
                                <a href="{{path('delete-post', {id:post.id})}}"><i class="fas fa-trash-alt fa-2"></i></a></p>
                                {% endif %}</li>
                        </ul>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}