.articleBG{
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: rgba(245, 245, 245, 0.726);
}
body{
    background: url("http://www.incoreinsightlytics.com/wp-content/uploads/2017/04/Road-in-India.jpg") fixed center no-repeat;
    background-size: cover;

}
i {
    font-size: 22px;
}

.commentsBG{
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
}
p {

    font-size: 18px;
    font-style: bold;
}
