{% extends "base.html.twig" %}
{% block title %}
    Modify Post
{% endblock title %}
{% block body %}
    <div class="col-6 text-white">
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">Modify Post</button>
        {{form_end(form)}}
    </div>
{% endblock body %}