{% include "home/script.html.twig" %}

<!DOCTYPE html>
<html>

<head>
    
    {% block script %}
        
    {% endblock script %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>

    {% include "home/navbar.html.twig" %}
    {% block body %}
    {% endblock body %}

    {% include "home/footer.html.twig" %}
    {% block javascripts %}{% endblock %}
</body>

</html>